nav {
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: rgb(0, 0, 0);
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

img {
    width: 50px; 
}